<h1>This is the meters</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Balance</th>
        <th>Street Number</th>

    </tr>
    {{#each meters}}
    <tr>

       <td><a href="/meters/use/{{street_number}}"> {{name}}</a></td>
        <td><a href="">{{balance}}</td><a/></td>
        <td> <a href="">{{street_number}}</a> </td>
        

    </tr>
    {{/each}}
</table>


{{#each streets}}
<li> <a href="{{id}}">{{name}}</a> </li>
{{/each}}